* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #e0e0e0;
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 65vh;
  min-width: 100vw;
  background: #e0e0e0 !important;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("./minions.jpg");
  background-size: contain;
}

#translateBtn {
  max-height: 40px;
}

.inputContainer textarea {
  border: none;
  opacity: 0.9;
  padding: 20px;
  border-radius: 4px;
  background: #e0e0e0;
  box-shadow: 9px 9px 18px #727272, -9px -9px 18px #ffffff;
}

/* .inputContainer{
    background: #e0e0e0 !important;
  } */

.resultContainer {
  height: 58vh;
  width: 40vw;
  padding: 20px;
  border-radius: 4px;
  background: #e0e0e0;
  box-shadow: 9px 9px 18px #727272, -9px -9px 18px #ffffff;
  opacity: 0.9;
}

footer {
  min-height: 20vh;
  min-width: 100vw;
  background: #e0e0e0;
  padding: 20px;
  position: fixed;
  bottom: 0;
  text-align: center;
}

footer p {
  padding-top: 20px;
}
